//Цвета
$color-main-blue: #1F3F68;
$color-second-blue: #316099;
$color-button-blue: #5A98D0;

//Шрифты
$font-main: "Gilroy", "Arial", sans-serif;
$font-galien: "Times New Roman", Times, serif;

//Экраны
$tablet-width: 768px;
$desktop-width: 1366px;
$mobile-width-only: 767px;
$retina-dppx: 1.5dppx;
